<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

	<application
		android:name=".WorkCycleApp"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Theme.WorkCycle"
		android:localeConfig="@xml/locales_config"
		tools:targetApi="33">

		<activity
			android:name=".ui.activity.MainActivity"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver
			android:name=".widget.WorkCycleWidgetProvider"
			android:exported="true">

			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_info" />
		</receiver>

		<receiver
			android:name=".widget.worklog.WorkLogWidgetProvider"
			android:exported="true">

			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/work_log_widget_info" />
		</receiver>

		<receiver
			android:name=".receivers.DayChangeReceiver"
			android:enabled="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.DATE_CHANGED" />
				<action android:name="android.intent.action.TIME_SET" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="com.dante.workcycle.action.MIDNIGHT_FALLBACK" />
			</intent-filter>
		</receiver>

	</application>

</manifest>
